div.section.section_support.ptb70
  div.container
    div.wrapper_section_support.text-center
      div.row
        div.col-md-4
          div.section_support__item.section_support__item-with-border
            div.icon
              i.flaticon-shipped
            h3.f18 Free Delivery
            p If you are going to use of Lorem, you need to be sure there anything
        div.col-md-4
          div.section_support__item.section_support__item-with-border
            div.icon
              i.flaticon-money-back
            h3.f18 30 Day Return
            p If you are going to use of Lorem, you need to be sure there anything
        div.col-md-4
          div.section_support__item
            div.icon
              i.flaticon-support
            h3.f18 27/4 Support
            p If you are going to use of Lorem, you need to be sure there anything

div.section.section_newsletter
  div.container
    div.wrapper_section_newsletter
      div.row.align-items-md-center
        div.col-md-6
          div.heading_s1.mb-md-0
            h2.c-white Subscribe Our Newsletter
        div.col-md-6
          form(action="" class="d-flex")
            input(type="text" class="form-control" placeholder="Enter Email Address")
            button(type="submit") Subscribe

div.footer
  div.footer__top
  div.footer__bottom
    div.container
      div.footer__bottom-wrapper
        div.row
          div.col-md-6
            p.c-white © 2020 All Rights Reserved by Bestwebcreator
          div.col-md-6
            ul.text-center.text-lg-right
              li.d-inline-block
                a(href="javascript:void(0)")
                  img(src="./assets/images/layout/visa.png" alt="Image name")
              li.d-inline-block
                a(href="javascript:void(0)")
                  img(src="./assets/images/layout/discover.png" alt="Image name")
              li.d-inline-block
                a(href="javascript:void(0)")
                  img(src="./assets/images/layout/master_card.png" alt="Image name")
              li.d-inline-block
                a(href="javascript:void(0)")
                  img(src="./assets/images/layout/paypal.png" alt="Image name")
              li.d-inline-block
                a(href="javascript:void(0)")
                  img(src="./assets/images/layout/amarican_express.png" alt="Image name")
