div.header
  div.header__top
    div.container
      div.row
        div.col-md-6
          div.header__top-left.mb-2.mb-md-0
            ul.ul
              li.d-inline-block.header-left__nation
                div.nation__custom_select
                  div.select-selected.nation-selected
                    img(src="./assets/images/layout/header/eng.png" alt="Images name")
                    span.select-selected English
                  ul.nation__list-list.text-left#nation__list-list
                    li.mb-3
                      img(src="./assets/images/layout/header/eng.png" alt="Images name")
                      | English
                    li.mb-3
                      img(src="./assets/images/layout/header/fn.png" alt="Images name")
                      | France
                    li
                      img(src="./assets/images/layout/header/us.png" alt="Images name")
                      | United States

              li.d-inline-block.header-left__currency
                div.currency__custom_select
                  select(name="currency" style="display: none")
                    option(value="USD") USD
                    option(value="USD") EUR
                    option(value="USD") GBR
                  div.select-selected USD
                  div.select-currency__list#currency__list-list
                    ul.currency__list-list
                      li.mb-3 USD
                      li.mb-3 EUR
                      li GBR
              li.d-inline-block.header-left__contact_detail
                a(href="javascript:void(0)")
                  i.ti-mobile
                  | &nbsp 123-456-7890

        div.col-md-6
          div.header__top-right.text-center.text-md-right
            ul
              li
                a(href="javascript:void(0)")
                  i.ti-control-shuffle
                  | &nbsp Compare
              li
                a(href="javascript:void(0)")
                  i.ti-heart
                  | &nbsp Wishlist
              li
                a(href="javascript:void(0)")
                  i.ti-user
                  | &nbsp Login
  div.hr
  div.header__bottom
    div.container
      nav.navbar.navbar-expand-lg
        div.navbar__img
          a.img-navbar-brand
            img(src="./assets/images/layout/header/logo.png" width="175px")
        div.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav.f14
            li.navbar-nav__nav-item.active
              a.navbar-nav__nav-item-nav-link HOME&nbsp
                i.fa.fa-angle-down
              div.item-dropdown__menu
                ul
                  li
                    a(href='', class="a-nav-link") Fashion 1
                  li
                    a(href='', class="a-nav-link") Fashion 2
                  li
                    a(href='', class="a-nav-link") Furniture 1
                  li
                    a(href='', class="a-nav-link") Furniture 2
                  li
                    a(href='', class="a-nav-link") Electronics 1
                  li
                    a(href='', class="a-nav-link") Electronics 2

            li.navbar-nav__nav-item
              a.navbar-nav__nav-item-nav-link.active PAGES&nbsp
                i.fa.fa-angle-down
              div.item-dropdown__menu
                ul
                  li
                    a(href='', class="a-nav-link") About us
                  li
                    a(href='', class="a-nav-link") Contact Us
                  li
                    a(href='', class="a-nav-link") FAQ
                  li
                    a(href='', class="a-nav-link") 404 Not Found
                  li
                    a(href='', class="a-nav-link") Login
                  li
                    a(href='', class="a-nav-link") Register
                  li
                    a(href='', class="a-nav-link") Turns And Conditions

            li.navbar-nav__nav-item.mega__menu
              a.navbar-nav__nav-item-nav-link PRODUCTS&nbsp
                i.fa.fa-angle-down
            li.navbar-nav__nav-item
              a.navbar-nav__nav-item-nav-link BLOG&nbsp
                i.fa.fa-angle-down
              div.item-dropdown__menu.item-dropdown__menu-blog
                ul
                  li
                    a(href='', class="a-nav-link") Grids
                    div.dropdown__menu__2
                      ul
                        li
                          a(href='', class="a-nav-link") 3 Columns
                        li
                          a(href='', class="a-nav-link") 4 Columns
                        li
                          a(href='', class="a-nav-link") Left SideBar
                        li
                          a(href='', class="a-nav-link") Right SideBar
                        li
                          a(href='', class="a-nav-link") Standards Left SideBar
                        li
                          a(href='', class="a-nav-link") Standards Right SideBar
                  li
                    a(href='', class="a-nav-link") Masonry
                    div.dropdown__menu__2
                      ul
                        li
                          a(href='', class="a-nav-link") 3 Columns
                        li
                          a(href='', class="a-nav-link") 4 Columns
                        li
                          a(href='', class="a-nav-link") Left SideBar
                        li
                          a(href='', class="a-nav-link") Right SideBar
                  li
                    a(href='', class="a-nav-link") Single Post
                    div.dropdown__menu__2
                      ul
                        li
                          a(href='', class="a-nav-link") Default
                        li
                          a(href='', class="a-nav-link") Left Sidebar
                        li
                          a(href='', class="a-nav-link") Slider Post
                        li
                          a(href='', class="a-nav-link") Video Post
                        li
                          a(href='', class="a-nav-link") Audio Post
                  li
                    a(href='', class="a-nav-link") List
                      div.dropdown__menu__2
                        ul
                          li
                            a(href='', class="a-nav-link") Left SideBar
                          li
                            a(href='', class="a-nav-link") Right Sidebar
            li.navbar-nav__nav-item
              a.navbar-nav__nav-item-nav-link SHOP&nbsp
                i.fa.fa-angle-down
            li.navbar-nav__nav-item
              a.navbar-nav__nav-item-nav-link CONTACT US&nbsp
            li.navbar-nav__nav-item
              a.navbar-nav__nav-item-nav-link
                i.linearicons-magnifier.f20
            li.navbar-nav__nav-item
              a.navbar-nav__nav-item-nav-link
                i.linearicons-cart.f20

