div.header
  div.header__top
    div.container
      div.row
        div.col-md-6
          div.header__top-left.mb-2.mb-md-0
            ul.ul
              li.d-inline-block.header-left__nation
                div.nation__custom_select
                  div.select-selected.nation-selected
                    img(src="./assets/images/layout/header/eng.png" alt="Images name")
                    span.select-selected English
                  ul.nation__list-list.text-left#nation__list-list
                    li.mb-3
                      img(src="./assets/images/layout/header/eng.png" alt="Images name")
                      | English
                    li.mb-3
                      img(src="./assets/images/layout/header/fn.png" alt="Images name")
                      | France
                    li
                      img(src="./assets/images/layout/header/us.png" alt="Images name")
                      | United States

              li.d-inline-block.header-left__currency
                div.currency__custom_select
                  select(name="currency" style="display: none")
                    option(value="USD") USD
                    option(value="USD") EUR
                    option(value="USD") GBR
                  div.select-selected USD
                  div.select-currency__list#currency__list-list
                    ul.currency__list-list
                      li.mb-3 USD
                      li.mb-3 EUR
                      li GBR
              li.d-inline-block.header-left__contact_detail
                a(href="javascript:void(0)")
                  i.ti-mobile
                  | &nbsp 123-456-7890

        div.col-md-6
          div.header__top-right.text-center.text-md-right
            ul
              li
                a(href="javascript:void(0)")
                  i.ti-control-shuffle
                  | &nbsp Compare
              li
                a(href="javascript:void(0)")
                  i.ti-heart
                  | &nbsp Wishlist
              li
                a(href="javascript:void(0)")
                  i.ti-user
                  | &nbsp Login
  div.hr
  div.header__bottom
    div.container
      nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand
          img(src="./assets/images/layout/header/logo.png" width="175px")
        button(type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link Home
            li.nav-item.active
              a.nav-link Pages
