head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title LOGISTIC SHOP

  //- Logo Icon
  link(rel="shortcut icon" type="image/x-icon" href="")

  //- Style CSS
  link(rel="stylesheet" type="text/css" href="./assets/vendors/boostrap4/bootstrap4.min.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/themify-icons/themify-icons.css")
  link(rel="stylesheet" href="./assets/vendors/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css")
  link(rel="stylesheet" href="./assets/vendors/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/font_roboto.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/font_Poppins.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/ionicons/ionicons.min.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/linearicons/linearicons.css")
  link(rel="stylesheet" type="text/css" href="./assets/fonts/flaticon/flaticon.css")
  link(rel="stylesheet" type="text/css" href="./assets/css/main.css")

  block head
body
  div.app
    include ./header.pug
    block pages
    include ./footer.pug

  //- jQuery
  script(src="./assets/js/jquery.min.js")
  script(src="./assets/vendors/boostrap4/bootstrap4.js")
  //- Owl Carousel
  script(src="./assets/vendors/OwlCarousel2-2.3.4/dist/owl.carousel.min.js")
  script(src="./assets/js/main.js")

  block script
doctype html
html
