/* ===============================================================================
   1. Variables
   ===============================================================================
*/

$topheader: red;
$colorRed: #ff324d;
$colorBlack: #292b2c;
$white: #fff;
$dark-secondary: #292b2c;
