/* ===============================================================================
   Table Of Content
   ===============================================================================
   1. Reset Css
    2. About Session
*/
/* ===============================================================================
   1. Variables
   ===============================================================================
*/
/* ===============================================================================
   1. Reset Css
   ===============================================================================
*/
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }

body {
  background: #ffffff none repeat scroll 0 0;
  color: #687188;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #292b2c;
  font-family: 'Roboto';
  margin: 0; }

p {
  color: #687188;
  line-height: 28px;
  margin: 0; }

a {
  color: #292b2c;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover {
  color: #FF324D;
  text-decoration: none; }

a:focus {
  outline: none; }

img {
  max-width: 100%; }

button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out; }

ul, li, ol {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0; }

label {
  color: #6c757d; }

.section {
  padding: 100px 0; }

.heading_s1 h1, .heading_s1 h2, .heading_s1 h3, .heading_s1 h4, .heading_s1 h5, .heading_s1 h6 {
  font-weight: 700;
  margin: 0;
  text-transform: capitalize; }

.heading_s1 {
  margin-bottom: 25px; }

.heading_s1 h2 {
  font-size: 32px; }

.c-white {
  color: white; }

.f14 {
  font-size: 14px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.ptb70 {
  padding: 70px 0; }

/* ===============================================================================
    2. Header
   ===============================================================================
*/
.header .header__top {
  padding: 15px 0; }

.header .header__top-left .ul .header-left__nation {
  margin-right: 25px; }
  .header .header__top-left .ul .header-left__nation .nation__custom_select {
    position: relative; }
    .header .header__top-left .ul .header-left__nation .nation__custom_select img {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 5px; }
    .header .header__top-left .ul .header-left__nation .nation__custom_select .nation__list-list {
      font-size: 14px;
      border: 1px solid #dee2e6;
      color: #333;
      width: 135px;
      display: none;
      z-index: 998;
      position: absolute;
      background: white;
      top: 26px;
      left: -8px;
      padding: 8px; }
      .header .header__top-left .ul .header-left__nation .nation__custom_select .nation__list-list li:hover {
        cursor: pointer; }

.header .header__top-left .ul .header-left__currency {
  margin-right: 25px; }

.header .header__top-left .select-selected {
  text-transform: capitalize;
  font-size: 14px;
  color: #333;
  white-space: nowrap; }
  .header .header__top-left .select-selected:hover {
    cursor: pointer; }
  .header .header__top-left .select-selected:after {
    content: "\f3d0";
    color: #878787;
    font-family: ionicons;
    position: absolute;
    top: 1px;
    margin-left: 5px; }

.header .header__top-left .currency__custom_select {
  position: relative; }
  .header .header__top-left .currency__custom_select .select-currency__list {
    font-size: 14px;
    border: 1px solid #dee2e6;
    color: #333;
    width: 48px;
    display: none;
    z-index: 999;
    position: absolute;
    background: white;
    top: 26px;
    left: -8px; }
    .header .header__top-left .currency__custom_select .select-currency__list .currency__list-list {
      padding: 8px; }
      .header .header__top-left .currency__custom_select .select-currency__list .currency__list-list li {
        cursor: pointer; }

.header .header__top-left .header-left__contact_detail {
  font-size: 14px;
  margin-left: 10px; }

.header .header__top-right ul li {
  margin-left: 15px;
  display: inline-block; }

.header div.hr {
  width: 100%;
  background: #ddd;
  height: 1px;
  opacity: 0.5; }

/* ===============================================================================
    2. Menu
   ===============================================================================
*/
.icon-search:before {
  content: "\ec22"; }

.header__bottom .navbar {
  padding-left: 0; }

.navbar-nav .navbar-nav__nav-item {
  font-weight: 500;
  margin-left: 20px; }
  .navbar-nav .navbar-nav__nav-item .navbar-nav__nav-item-nav-link {
    color: #292b2c; }
    .navbar-nav .navbar-nav__nav-item .navbar-nav__nav-item-nav-link:hover {
      color: #FF324D;
      cursor: pointer; }
  .navbar-nav .navbar-nav__nav-item .navbar-nav__nav-item-nav-link.active {
    color: #FF324D; }
  .navbar-nav .navbar-nav__nav-item .linearicons-magnifier:hover, .navbar-nav .navbar-nav__nav-item .linearicons-cart:hover {
    color: #FF324D;
    cursor: pointer; }

/* ===============================================================================
    2. About Session
   ===============================================================================
*/
.section_breadcrumb {
  background: #F7F8FB; }

.section_breadcrumb .wrapper_breadcrumb {
  padding: 50px 0; }

.section_breadcrumb .wrapper_breadcrumb .breadcrumb__left {
  font-size: 14px; }

.wrapper_breadcrumb h1 {
  font-size: 28px;
  font-weight: 600; }

.section_breadcrumb .wrapper_breadcrumb .breadcrumb__left span,
.section_breadcrumb .wrapper_breadcrumb .breadcrumb__left .breadcrumb__left-active {
  color: #6c757d; }

.breadcrumb__left li {
  padding-left: 5px; }

/* ===============================================================================
    2.  Session Choose Us
   ===============================================================================
*/
.section_choose_us {
  background: #F4F9FC; }

.section_choose_us .choose_us__top {
  margin-bottom: 25px; }

.choose_us__bottom-item h3 {
  margin: 15px 0 10px 0; }

.section_choose_us .choose_us__bottom-item p {
  padding: 10px 16px; }

.section_choose_us .choose_us__bottom-item {
  background: white;
  padding: 30px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

/* ===============================================================================
    Section Support
   ===============================================================================
*/
.section_support .icon i {
  font-size: 50px; }

.section_support .section_support__item {
  position: relative; }

.section_support .section_support__item h3 {
  margin-bottom: 10px; }

.section_support .section_support__item p {
  padding: 0 40px; }

/* ===============================================================================
    Section Newsletter
   ===============================================================================
*/
.section_newsletter {
  background: #FF324D;
  padding: 50px 0; }

.section_newsletter form {
  height: 45px; }

.section_newsletter form input {
  border: none;
  border-radius: 0;
  width: 75%;
  height: 100%;
  font-size: 16px;
  color: #000; }

.section_newsletter form input::-webkit-input-placeholder {
  font-size: 16px; }

.section_newsletter form button {
  background: #343A40;
  color: white;
  border: none;
  border-radius: 0;
  width: 25%;
  height: 100%; }

.section_newsletter form .form-control:focus {
  box-shadow: none;
  color: #000; }

/* ===============================================================================
    Section Our Client
   ===============================================================================
*/
.section_our_client {
  background: #FFF1F1; }
  .section_our_client .our_client__description {
    margin: 0 auto;
    width: 560px; }

.ion-ios-arrow-right:before {
  content: "\f3d3";
  font-size: 24px;
  color: #000; }

.ion-ios-arrow-left:before {
  content: "\f3d2";
  font-size: 24px;
  color: #000; }

.owl-carousel .owl-nav {
  width: 560px;
  margin: 0 auto;
  position: relative;
  bottom: 46px; }
  .owl-carousel .owl-nav .owl-prev {
    left: -35px;
    position: absolute;
    opacity: 0.75; }
    .owl-carousel .owl-nav .owl-prev:focus {
      outline: none;
      box-shadow: none; }
  .owl-carousel .owl-nav .owl-next {
    right: -35px;
    position: absolute;
    opacity: 0.75; }
    .owl-carousel .owl-nav .owl-next:focus {
      outline: none;
      box-shadow: none; }

/* ===============================================================================
    3. Footer
   ===============================================================================
*/
.footer__bottom {
  background: #202325;
  padding: 30px 0; }

.footer p {
  font-size: 14px; }
